<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="pais.flag" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{pais.nativeName}}</h5>
    <div class="card-text">
      <ul>
        <li>Paises Limítrofes</li>
        <span class="badge badge-pill badge-success" *ngFor="let limitrofe of pais.borders">{{limitrofe}}</span>
        <li>Población:</li> {{pais.population | number}}
      </ul>
    </div>
    <a class="btn btn-primary" (click)="enviarMensajeAlPadre()">Ver detalle</a>
  </div>
</div>